@font-face {
	font-family: "Gilroy-Black";
	src: url("../fonts/Gilroy-Black/Gilroy-Black.eot");
	src: local('☺'), url("../fonts/Gilroy-Black/Gilroy-Black.woff") format('woff'), url("../fonts/Gilroy-Black/Gilroy-Black.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Semibold";
	src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
	src: local('☺'), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format('woff'), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
