main
    .main-cont.container
        include ./sidebar.pug
        .content
            .poster
                h2.main-title Афиша
                .poster-slider
                    .swiper-wrapper
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 16+
                                    .item__title
                                        a(href="#") Лебединое озеро
                                    ul.item__list
                                        li Балет <br> суббота, 21 сентября
                                        li Историческая сцена
                                        li Цена билета: 
                                            <br>
                                            span.item__price от 3 000 руб. - 40 000 руб.  
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 16+
                                    .item__title
                                        a(href="#") Один день Ивана Денисовича
                                    ul.item__list
                                        li Опера <br> суббота, 21 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                                        li Цена билета: 
                                            <br>
                                            span.item__price от 3 000 руб. - 40 000 руб.
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                    
                    .swiper-pagination                    
                    .swiper-button-next
                    .swiper-button-prev
