main
    .main-cont.container
        include ./sidebar.pug
        .content
            .poster-main
                h2.main-title Афиша
                .poster-slider
                    .swiper-wrapper
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 16+
                                    .item__title
                                        a(href="#") Лебединое озеро
                                    ul.item__list
                                        li Балет <br> суббота, 21 сентября
                                        li Историческая сцена
                                        li Цена билета: 
                                            <br>
                                            span.item__price от 3 000 руб. - 40 000 руб.  
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 16+
                                    .item__title
                                        a(href="#") Один день Ивана Денисовича
                                    ul.item__list
                                        li Опера <br> суббота, 21 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                                        li Цена билета: 
                                            <br>
                                            span.item__price от 3 000 руб. - 40 000 руб.
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                        .poster-slider__slide.swiper-slide
                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk-1.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") К 105-летию со дня рождения Кирилла Кондрашина
                                    ul.item__list
                                        li Воскресенье, 20 октября
                                        li Бетховенский зал

                            .item
                                .item__left
                                    .item__img
                                        img(src="img/mirk3.jpg")
                                    a(href="#").btn Купить билет        

                                .item__right
                                    .item__age 14+
                                    .item__title
                                        a(href="#") Директор театра, Пимпиноне
                                    ul.item__list
                                        li Опера <br> воскресенье, 29 сентября
                                        li Камерная сцена <br>им. Б.А.Покровского
                    
                    .swiper-pagination                    
                    .swiper-button-next
                    .swiper-button-prev
            .theatre-about
                h2.main-title Билеты в большой театр
                p Большой театр России по праву считается гордостью нашей страны. Это один из самых крупных театров в России и в мире. Театралы и ценители оперы и балета стремятся купить билеты в Большой театр в Москве, чтобы посетить его постановки, приезжая со всей страны. Известная во всем мире опера, легендарный балет, масштабные, грандиозные гастроли, множество Государственных премий, Национальная театральная премия «Золотая маска» и колоссальный вклад в культурное наследие России и мира – это все о нем, о Государственном Академическом Большом театре.

                p Приходя в Большой театр, вы погружаетесь в атмосферу бессмертного классического искусства, в атмосферу красоты, танца и музыки, приобщаетесь к великому, отдыхаете душой и при этом повышаете свой культурный уровень. Всего лишь одно посещение Государственного Большого театра способно оставить сильнейшие впечатления на всю жизнь.     
            .performance
                h2.main-title Спектакли Большого
                .performance__inner
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/pav.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Весна священная. Компания современного танца Павлин / Китай        
                            .performance-item__adress среда, 11 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет    
                                
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/sotv.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Сотворение мира. Спектакль Государственного академического театра ...       
                            .performance-item__adress четверг, 12 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет   
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/otello.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Отелло. Опера в концертном исполнении
                            .performance-item__adress пятница, 13 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет           
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/onegin.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Евгений Онегин
                            .performance-item__adress вторник, 17 сентября
                            .performance-item__place Историческая сцена
                            .premiera Премьера - 15 мая 2019 года
                            a(href="#").btn Купить билет             
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/onegin.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Милосердие Тита
                            .performance-item__adress вторник, 17 сентября 19:00
                            .performance-item__place Историческая сцена <br>им. Б.А.Покровского
                            a(href="#").btn Купить билет                
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/pav.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Весна священная. Компания современного танца Павлин / Китай        
                            .performance-item__adress среда, 11 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет    
                                
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/sotv.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Сотворение мира. Спектакль Государственного академического театра ...       
                            .performance-item__adress четверг, 12 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет   
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/otello.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Отелло. Опера в концертном исполнении
                            .performance-item__adress пятница, 13 сентября 19:00
                            .performance-item__place Новая сцена
                            a(href="#").btn Купить билет           
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/onegin.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Евгений Онегин
                            .performance-item__adress вторник, 17 сентября
                            .performance-item__place Историческая сцена
                            .premiera Премьера - 15 мая 2019 года
                            a(href="#").btn Купить билет             
                    
                    .performance-item
                        .performance-item__age 16+
                        .performance__img
                            img(src="img/onegin.jpg")
                        .performance-item__info        
                            .item__title
                                a(href="#") Милосердие Тита
                            .performance-item__adress вторник, 17 сентября 19:00
                            .performance-item__place Историческая сцена <br>им. Б.А.Покровского
                            a(href="#").btn Купить билет                
                
                .performance__more.item__title
                    a(href="#") Вся афиша
                
                .theatre-video
                    .theatre-video__item
                        <iframe width="100%" height="342" src="https://www.youtube.com/embed/fydtybn2NdA?start=56" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .theatre-video__item
                        p Неудивительно, что каждый гость, приезжающий в столицу, старается попасть на спектакль в Большой театр. Порой это бывает непросто – билеты очень сложно достать, они разлетаются буквально за считанные дни. Да и москвичи, утомленные ежедневной рутиной, проблемами и заботами, не имеют сил и времени приезжать в кассы и выстаивать долгие очереди. Сегодня купить билеты в Большой театр вам предлагают специальные онлайн-сервисы. Вы можете спокойно зайти на сайт, ознакомиться с текущим репертуаром театра, выбрать интересующий спектакль и при помощи пары кликов мышкой забронировать билеты!  Большой театр всегда ждет москвичей и гостей столицы на свои грандиозные представления.
                        
                        ul.article-list
                            li Купить билеты в Большой театр можно по телефону 8(495) 411-18-90.
                            li Для того, чтобы заказать билеты онлайн перейдите в афишу и<br> нажмите на кнопку заказать билеты.                 
                                
                                
                                
                                
                                
                                
                                
                                
                                                 
