main
    .main-cont.container
        include ./sidebar.pug
        .content
            .breadcrumbs
                a(href="#") Главная
                a Афиша Большого театра
                
            .afisha-title
                h1.main-title Афиша большого театра
                ul.sorting
                    li 
                        a(href="#") Вся афиша
                    li
                        a(href="#") Новая сцена
                    li
                        a(href="#") Историческая сцена
                    li
                        a(href="#") Бетховенский зал
                    li
                        a(href="#") Покровский зал        
                                  
            .order
                .close-btn
                .order__main
                    .order__item
                        
                        .performance-date
                            .performance-date__inner
                                .performance-date__num 21
                                .performance-date__day
                                    span Марта
                                    span Вторник    
                            
                        
                        ul.performance-time 
                            li 19:00
                            li Новая сцена
                        
                    ul.order__tickets
                        li 
                            a(href="#") Один день Ивана Денисовича
                            <br>
                            span Опера в трех действиях 18+
                        li
                            b Осталось билетов: 19
                    
                    ul.order__action
                        li
                            .order__price от 2500 руб. до 5 200 руб.
                        li 
                            .btn.btn_ticket Выбрать билет                 
                
                .order__hidden
                        ul.order__list
                            li среда, 11 сентября 2019 в 19:00
                            li Большой театр
                            li Новая сцена
                        
                        .places
                            ul.places__yarus
                                li 1-й ярус
                                li 4 ряд
                                li 9 000 руб.
                            
                            .places__item
                                .places__slider.swiper-container
                                    .swiper-wrapper
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 14
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 15
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 16
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 17
                                                button.places__tooltip
                                                    span в корзину            
                                        .item.swiper-slide
                                            .product
                                                .places__buy 18
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 19
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 14
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 15
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 16
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 17
                                                button.places__tooltip
                                                    span в корзину            
                                        .item.swiper-slide
                                            .product
                                                .places__buy 18
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 19
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 14
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 15
                                                button.places__tooltip
                                                    span в корзину
                                    .swiper-button-next
                                
                            .places__price 9 000 руб.    
                        
                        .places
                            ul.places__yarus
                                li 1-й ярус
                                li 2 ряд
                                li 9 000 руб.
                            
                            .places__item
                                .places__slider.swiper-container
                                    .swiper-wrapper
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        
                                    .swiper-button-next
                                
                            .places__price 9 000 руб. 
                .btn.btn_ticket.btn__order_mob Выбрать билет 
            .order
                .close-btn
                .order__main
                    .order__item
                        
                        .performance-date
                            .performance-date__inner
                                .performance-date__num 21
                                .performance-date__day
                                    span Марта
                                    span Вторник    
                            
                        
                        ul.performance-time 
                            li 19:00
                            li Новая сцена
                        
                    ul.order__tickets
                        li 
                            a(href="#") Один день Ивана Денисовича
                            <br>
                            span Опера в трех действиях 18+
                        li
                            b Осталось билетов: 19
                    
                    ul.order__action
                        li
                            .order__price от 2500 руб. до 5 200 руб.
                        li 
                            .btn.btn_ticket Выбрать билет                 
                
                .order__hidden
                        ul.order__list
                            li среда, 11 сентября 2019 в 19:00
                            li Большой театр
                            li Новая сцена
                        
                        .places
                            ul.places__yarus
                                li 1-й ярус
                                li 4 ряд
                                li 9 000 руб.
                            
                            .places__item
                                .places__slider.swiper-container
                                    .swiper-wrapper
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 14
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 15
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 16
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 17
                                                button.places__tooltip
                                                    span в корзину            
                                        .item.swiper-slide
                                            .product
                                                .places__buy 18
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 19
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 14
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 15
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 16
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 17
                                                button.places__tooltip
                                                    span в корзину            
                                        .item.swiper-slide
                                            .product
                                                .places__buy 18
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 19
                                                button.places__tooltip
                                                    span в корзину
                                    .swiper-button-next
                                
                            .places__price 9 000 руб.    
                        
                        .places
                            ul.places__yarus
                                li 1-й ярус
                                li 2 ряд
                                li 9 000 руб.
                            
                            .places__item
                                .places__slider.swiper-container
                                    .swiper-wrapper
                                        .item.swiper-slide
                                            .product
                                                .places__buy 12
                                                button.places__tooltip
                                                    span в корзину
                                        .item.swiper-slide
                                            .product
                                                .places__buy 13
                                                button.places__tooltip
                                                    span в корзину
                                        
                                    .swiper-button-next
                                
                            .places__price 9 000 руб. 
                .btn.btn_ticket.btn__order_mob Выбрать билет 
            
            .pagination
                a(href="#") 1
                a(href="#") 2
                a(href="#").active 3
                a(href="#") 4
                a(href="#") 5
                
                        
                        
                        
                        
                        
