main
    .main-cont.container
        include ./sidebar.pug
        .content
            .breadcrumbs
                a(href="#") Главная
                a(href="#") Репертуар
                a(href="#") Афиша
                a(href="#") Лебединое озеро
                a(href="#") Комментарии
                
            h1.main-title Лебединое озеро комментарии зрителей    
            
            .comments
                .comments__item
                    .comments__date
                        |06 марта 2013
                    .comments__author Женя
                    .comments__article
                        |Очень красивый балет, мне понравился! Но билеты по космическим ценам продают!   
                            
                .comments__item
                    .comments__date
                        |13 января 2013
                    .comments__author Арина
                    .comments__article
                        |Посмотрела Лебединое озеро в Большом театре. Смотрю этот балет уже 2-ой раз. Замечательно! Рекомендую всем. Когда я первый раз ходила,билеты в партер стояли 5000 руб за билет, а сейчас 10.000 руб, это только номинал! Жаль что не все могут позволить себе купить билеты на хорошие места. Но если смотреть этот балет на новой сцене стоимость будет дешевле.
                
                .comments__item
                    .comments__date
                        |19 марта 2013
                    .comments__author Лариса
                    .comments__article
                        |Посмотрела балет Лебединое озеро в Большом театре и пишу свой отзыв! 16 марта. Балерина Светлана Захарова - восхитительная утонченность, верх мастерства и технического, и актёрского. Премьер Александр Волчков предупредителен аж до дыхания партнёрши, истинный принц. Премьер Николай Цискаридзе - Мастер. Состояние экстаза! Шелест пачек, приглушенное: тук-тук, тук-тук,- пуантов, роскошь костюмов! Музыка, оркестр потрясающе! Волшебная арфа... Послевкусие, как от коньяка XO.. Просто какое-то неописуемое счастье увидеть всё это! Единственно, что, мне кажется негармоничным, - это танец в стиле ансамбля "Берёзки" русской невесты в кокошнике, как-то не балет^^ Но в целом -супер!!! Спасибо большое:)))         
            
            form.comment-form(action="#")
                .comment-form__inner
                    .comment-form__title Здесь Вы можете оставить свой комментарий:
                    label.inp-wrap
                        input(type="text" placeholder="Имя").inp
                    label.text-wrap    
                        textarea.textarea Комментарий
                    .comment-form__btn
                        button.btn(type="submit") Отправить
                        .custom-check.custom-check_white
                            input(type="checkbox" style="display: none" checked)#checkPrivacy
                            label(for="checkPrivacy")
                                |Я согласен на обработку <br> персональных данных 
            
            .link-tickets
                a(href="#") Купить билеты в Большой театр
