main
    .banner                
        .container
            .search-master
                .search-master__title 
                    span Срочный ремонт замка зажигания
                    br
                    b с выездом в Москве
                fieldset.search
                    legend Поиск автомастера                                         
                    .search-inner
                        .search-item
                            .select-custom
                                select#selectBroken
                                    option(value="Заголовок") Выберите неисправность
                                    option(value="/remont-zamka-zaziganiya/") Ремонт замка зажигания
                                    option(value="/zamena-zamka-zaziganiya/") Замена замка зажигания
                        .search-item
                            .select-custom
                                select#selectMark
                                    option(value="Заголовок") Выберите марку
                                    option(value="Audi") Audi
                                    option(value="BMW") BMW
                        .search-item
                            .select-custom
                                select#selectModel
                                    option(value="Заголовок") Выберите модель
                                    option(value="Заголовок") Выберите модель
                                    
                        .search-item
                            button(type="button").search__btn#urlBtn 
                                span Найти
    .container
        include ./breadcrumbs.pug
        .main-text
            h1.main-title Ремонт замков зажигания Audi A8 с выездом в Москве
            p Ремонт замка зажигания может понадобиться практически каждому владельцу автомобиля. Современные   автомобили, комплектуются несколькими видами замков зажигания. В зависимости от комплектации    автомобиля 
                a(href="#") замок зажигания 
                |бывает электронный, или механический. Механический замок зажигания, начали устанавливать на автомобили около 50 лет назад, конструкция настолько надёжна, что и по сегодняшний день автомобили комплектуются механическими замками. Но, как известно не бывает запчастей, которые служат вечно. Как правило 
                a(href="#") ремонт личинки замка зажигания 
                |может понадобиться примерно лет через 5-10 эксплуатации автомобиля.

        .sentence
            h3.main-title Что мы можем предложить вам?
            .sentence-inner
                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

    .advantages
        .container
            .advantages__inner

                .advantages__item
                    .advantages-slider.owl-carousel
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")

                .advantages__item
                    blockquote.main-title Мы отремонтировали уже более 
                        b 3000 замков 
                    .advantages-about
                        .advantages-about__item
                            .advantages-about__img
                            span Бесплатная диагностика 
                                br 
                                |по 40 параметрам
                        .advantages-about__item
                            i.advantages-about__img
                            span Современное оборудование
                                br 
                                |и лучшие мастера
                        .advantages-about__item
                            i.advantages-about__img
                            span Производим ремонт 
                                br
                                |на месте от 30 минут
                    .advantages__btn    
                        button.btn-yellow Заказать ремонт замка зажигания Mitsubishi Pajero    

    .container
        .price-block
            h2.main-title Стоимость услуг по ремонту замка зажигания
            table.price-table
                thead
                    tr
                        td 
                            |Наименование выполняемых работ
                        td
                            |Цена на ремонт с выездом
                        td  
                            |Стоимость запчастей
                tbody
                    tr
                        td 
                            a(href="#") 1. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
                    tr
                        td 
                            a(href="#") 2. Замена замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.        
                    tr
                        td 
                            a(href="#") 2. Переборка и смазка замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.

                    tr
                        td 
                            a(href="#") 4. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.     
                    tr
                        td 
                            a(href="#") 4. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
                    tr
                        td 
                            a(href="#") 4. Замена личинки замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.

    .action
        .action__title.action__title_mob 
            |Хотите сэкономить <br>
            |до 25 000 рублей? 
        .action__inner
            .action__item
                .action__img
                    img(src="img/promo-photo.png")
                .action__article
                    .action__title.action__title_lg 
                        |Хотите сэкономить до 25 000 рублей? 
                    b Не меняйте замок зажигания на Audi A8 на новый. Мы починим замок за 1 час с выездом!        
            .action__call
                a(href="tel:74951322575") Звоните: +7 (495) 132-25-75 <br>
                button(type="button").btn-cont Вызвать мастера

    .photo-block
        h2.main-title Фотографии наших работ на выезде
        .photo-slider.owl-carousel
            .item
                img(src="img/slide-img-1.jpg")
            .item
                img(src="img/slide-img-2.jpg")        
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")

    .map-block#map
        .arrival-calc
            .arrival-calc__title 
                span Расчет времени прибытия автомастера        
            .arrival-calc__street Авиамоторная, 12
            label
                input(type="text" placeholder="Жмите иконку для расчета времени" disabled).time-inp
                button(type="button").arrival-btn#arrivalBtn    

    .request
        h2.main-title Онлайн заявка на ремонт замка зажигания
        form.request-inner(action="#")
            .request-info
                .select-custom
                    select
                        option Выберите тип неисправности
                        option Тест
                        option Тест

                .request__item
                    input(type="text" placeholder="Имя").inp
                    input(type="text" placeholder="Телефон для связи").inp

                textarea(placeholder="Комментарий").textarea

                .request__btn               
                    button.btn(type="submit") Вызвать мастера
                    .request__checked
                        input(type="checkbox" checked)#request-checked
                        label(for="request-checked") Я согласен на обработку
                            br
                            |персональных данных

            .request-img
                img(src="img/form-img.png")

    .container
        .tech-details
            h2.main-title Технические данные автомобиля
            ul.tech-details__data
                li
                    span Марка:
                    i Audi
                li
                    span Модель:
                    i A8
                li
                    span Поколение:
                    i D4/4H [рестайлинг]
                li
                    span Серия:
                    i Седан 4-дв  

                li
                    span Модификация:
                    i 3.0 TFSI tiptronic quattro (310 л.с.)
                li
                    span Коплектация:
                    i Базовая              
            .tech-details__inner
                .tech-details__item
                    table.tech-table.tech-table_body
                        thead
                            tr
                                td(colspan="2") Кузов
                        tbody        
                            tr
                                td Тип кузова
                                td Седан
                            tr
                                td Количество мест
                                td 5
                            tr
                                td Длина
                                td 4703 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм

                    table.tech-table.tech-table_engine
                        thead
                            tr
                                td(colspan="2") Двигатель

                        tbody        
                            tr
                                td Тип кузова
                                td Седан
                            tr
                                td Количество мест
                                td 5
                            tr
                                td Длина
                                td 4703 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм                

                .tech-details__item
                    table.tech-table.tech-table_rule
                        thead
                            tr
                                td(colspan="2") Трансмиссия и управление

                        tbody        
                            tr
                                td Тип КПП
                                td Автомат
                            tr
                                td Количество передач
                                td 5
                            tr
                                td Диаметр разворота
                                td 12 м
                    table.tech-table.tech-table_brake
                        thead
                            tr
                                td(colspan="2") Подвеска и тормоза

                        tbody        
                            tr
                                td Передняя подвеска
                                td Независимая, Пневматическая, Многорычажная,<br> Стабилизатор поперечной устойчивости
                            tr
                                td Задняя подвеска
                                td Независимая, На трапециевидных рычагах
                            tr
                                td Передние тормоза
                                td Дисковые вентилируемые
                            tr
                                td Задние тормоза
                                td Дисковые вентилируемые
                    table.tech-table.tech-table_indicators
                        thead
                            tr
                                td(colspan="2") Эксплуатационные показатели

                        tbody        
                            tr
                                td Тип кузова
                                td Седан
                            tr
                                td Количество мест
                                td 5
                            tr
                                td Длина
                                td 4703 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Ширина
                                td 1826 мм
                            tr
                                td Колея передняя
                                td 1564 мм
                            tr
                                td Колесная база
                                td 2808 мм
                            tr
                                td Колея передняя
                                td 1564 мм

    .price-calc
        h2.main-title.price-calc__title Калькулятор стоимости ремонта замка зажигания 
            span Audi 
            i A8
        .price-calc__inner
            ul.price-calc__item
                li
                    input(type='checkbox' value="1000").calc-inp#broken-1
                    label(for="broken-1") Ключ в замке зажигания не поворачивается
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин   

                li    
                    input(type='checkbox' value="1000").calc-inp#broken-2
                    label(for="broken-2") Ключ в замке зажигания не поворачивается во второе положение
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин 
                li
                    input(type='checkbox' value="1000").calc-inp#broken-3
                    label(for="broken-3") Ключ в замке зажигания не поворачивается с первого раза
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин 
                li
                    input(type='checkbox' value="1000").calc-inp#broken-4
                    label(for="broken-4") Руль заблокирован, ключ не поворачивается
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин     

            ul.price-calc__item
                li
                    input(type='checkbox' value="1000").calc-inp#broken-5
                    label(for="broken-5") Ключ в замке зажигания проворачивается не до конца
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин 
                li
                    input(type='checkbox' value="1000").calc-inp#broken-6
                    label(for="broken-6") Проворачивается ключ в замке зажигания
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин 
                li
                    input(type='checkbox' value="1000").calc-inp#broken-7
                    label(for="broken-7") Сломался ключ в замке зажигания
                    .tooltip
                        .tooltip__btn
                        .tooltip-text
                            .tooltip-text__inner
                                |Внутренняя поломка замка зажигания, время ремонта 45 - 90 мин 

        .price-calc__btn            
            button(type="button").btn-cont#calcBtn Рассчитать стоимость ремонта        

    .reviews.container
        h2.main-title Отзывы наших клиентов

        .reviews-item
            .reviews-item__img
                img(src="img/car-img.jpg")               

            .reviews-item__article
                .reviews-item__author
                    span Ирина
                    b.reviews-item__city Москва,  
                    | метро 
                    a(href="#") Рижская 
                    |ул.Космонавтов
                    
                .reviews-item__model
                    span Автомобиль: 
                        a(href="#") Audi A8, 
                        |услуга:  
                        a(href="#") ремонт замка зажигания
                        
                .reviews-item__text
                    |Заплатила мастеру всего 6000 рублей за ремонт замка зажигания Audi A8. Официальный сервис объявил цену за замену замка зажигания Ауди A8 в 4 раза больше!        

            .reviews-item__rating
                .reviews-item__star
                    input(type="radio" name="radio1").radio0#a0
                    input(type="radio" name="radio1").radio1#a1
                    input(type="radio" name="radio1").radio2#a2
                    input(type="radio" name="radio1").radio3#a3
                    input(type="radio" name="radio1").radio4#a4
                    input(type="radio" name="radio1").radio5#a5
                    
                    label(for="a0").az-none
                    label(for="a1").label1
                    label(for="a2").label2
                    label(for="a3").label3
                    label(for="a4").label4
                    label(for="a5").label5
                
                .reviews-item__like        
                    button(type="button").like-btn
                    button(type="button").dislike-btn  
    
    .reviews-add
        h2.main-title Оставить отзыв о ремонте замка зажигания Audi A8
        form.reviews-add__inner(action="#")
            .reviews-add__data
                label
                    input(type="text" placeholder="Имя")
                label
                    input(type="text" placeholder="Заказывал услугу: Ремонт замка зажигания Audi A8")
            .reviews-add__comment
                .reviews-add__text
                    textarea
                        |Напишите ваш отзыв            
                .reviews-add__btn
                    .reviews-add__checkbox
                        input(type="checkbox" checked).reviews__check#reviewsCheck 
                        label(for="reviewsCheck") Я согласен на обработку<br> персональных данных
                    button(type="submit").btn-cont Отправить                 
                .reviews-add__rating
                    span Ваша оценка автомастеру:
                    .reviews-add__star
                        input(type="radio" name="star").radio0#s0
                        input(type="radio" name="star").radio1#s1
                        input(type="radio" name="star").radio2#s2
                        input(type="radio" name="star").radio3#s3
                        input(type="radio" name="star").radio4#s4
                        input(type="radio" name="star").radio5#s5
                        
                        label(for="s0").az-none
                        label(for="s1").label1
                        label(for="s2").label2
                        label(for="s3").label3
                        label(for="s4").label4
                        label(for="s5").label5               
                               
                        
    .container        
        .car-model.car-model_inner
            h2.main-title Выберите марку автомобиля
            .model-slider.owl-carousel
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                        li
                            .model-list__img
                                img(src="img/hundai-logo.png")
                            a(href="#") Hundai
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ
                        li
                            .model-list__img
                                img(src="img/honda-logo.png")
                            a(href="#") Honda
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW
                        li
                            .model-list__img
                                img(src="img/reno-logo.png")
                            a(href="#") Renault
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda
                        li
                            .model-list__img
                                img(src="img/ford-logo.png")
                            a(href="#") Ford
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi
                        li
                            .model-list__img
                                img(src="img/kia-logo.png")
                            a(href="#") KIA
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda
                        li
                            .model-list__img
                                img(src="img/toyota-logo.png")
                            a(href="#") Toyota
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi
                        li
                            .model-list__img
                                img(src="img/subaru-logo.png")
                            a(href="#") Subaru
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes
                        li
                            .model-list__img
                                img(src="img/lexus-logo.png")
                            a(href="#") Lexus
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan
                        li
                            .model-list__img
                                img(src="img/volvo-logo.png")
                            a(href="#") Volvo
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan                          
