main
    .main-cont.container
        include ./sidebar.pug
        .content
            .breadcrumbs
                a(href="#") Главная
                a Премьеры
            
            h1.main-title Премьеры Большого театра
            
            ul.premiere
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                li
                    .premiere__date 15 февраля 2018 г.
                    .premiere__article 
                        a(href="#") Пиковая дама 
                        |- опера в трех действиях
                li
                    .premiere__date 22 ноября 2017 г.
                    .premiere__article 
                        a(href="#") Ромео и Джульета 
                        |- балет в трех действиях
                        
                        
                        
                        
                        
