main
    .banner                
        .container
            form.search-master(action="#")
                .search-master__title 
                    span Срочный ремонт замка зажигания
                    br
                    b с выездом в Москве
                fieldset.search
                    legend Поиск автомастера                                         
                    .search-inner
                        .search-item
                            .select-custom
                                select#selectBroken
                                    option(value="Заголовок") Выберите неисправность
                                    option(value="/remont-zamka-zaziganiya/") Ремонт замка зажигания
                                    option(value="/zamena-zamka-zaziganiya/") Замена замка зажигания
                        .search-item
                            .select-custom
                                select#selectMark
                                    option(value="Заголовок") Выберите марку
                                    option(value="Audi") Audi
                                    option(value="BMW") BMW
                        .search-item
                            .select-custom
                                select#selectModel
                                    option(value="Заголовок") Выберите модель
                                    option(value="Заголовок") Выберите модель
                        .search-item
                            button(type="button").search__btn#urlBtn 
                                span Найти
    .container
        include ./breadcrumbs.pug
        .main-text
            h1.main-title Ремонт замков зажигания с выездом в Москве
            p Ремонт замка зажигания может понадобиться практически каждому владельцу автомобиля. Современные   автомобили, комплектуются несколькими видами замков зажигания. В зависимости от комплектации    автомобиля 
                a(href="#") замок зажигания 
                |бывает электронный, или механический. Механический замок зажигания, начали устанавливать на автомобили около 50 лет назад, конструкция настолько надёжна, что и по сегодняшний день автомобили комплектуются механическими замками. Но, как известно не бывает запчастей, которые служат вечно. Как правило 
                a(href="#") ремонт личинки замка зажигания 
                |может понадобиться примерно лет через 5-10 эксплуатации автомобиля.

        .car-model
            h2.main-title Выберите марку автомобиля
            .model-slider.owl-carousel
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                        li
                            .model-list__img
                                img(src="img/hundai-logo.png")
                            a(href="#") Hundai
                        li
                            .model-list__img
                                img(src="img/volks-logo.png")
                            a(href="#") Volkswagen
                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ
                        li
                            .model-list__img
                                img(src="img/honda-logo.png")
                            a(href="#") Honda
                        li
                            .model-list__img
                                img(src="img/lada-logo.png")
                            a(href="#") Лада ВАЗ

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW
                        li
                            .model-list__img
                                img(src="img/reno-logo.png")
                            a(href="#") Renault
                        li
                            .model-list__img
                                img(src="img/bmw-logo.png")
                            a(href="#") BMW

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda
                        li
                            .model-list__img
                                img(src="img/ford-logo.png")
                            a(href="#") Ford
                        li
                            .model-list__img
                                img(src="img/skoda-logo.png")
                            a(href="#") Scoda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi
                        li
                            .model-list__img
                                img(src="img/kia-logo.png")
                            a(href="#") KIA
                        li
                            .model-list__img
                                img(src="img/mitsubishi-logo.png")
                            a(href="#") Mitsubishi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda
                        li
                            .model-list__img
                                img(src="img/toyota-logo.png")
                            a(href="#") Toyota
                        li
                            .model-list__img
                                img(src="img/mazda-logo.png")
                            a(href="#") Mazda

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi
                        li
                            .model-list__img
                                img(src="img/subaru-logo.png")
                            a(href="#") Subaru
                        li
                            .model-list__img
                                img(src="img/audi-logo.png")
                            a(href="#") Audi

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes
                        li
                            .model-list__img
                                img(src="img/lexus-logo.png")
                            a(href="#") Lexus
                        li
                            .model-list__img
                                img(src="img/mers-logo.png")
                            a(href="#") Mersedes

                .item
                    ol.model-list
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan
                        li
                            .model-list__img
                                img(src="img/volvo-logo.png")
                            a(href="#") Volvo
                        li
                            .model-list__img
                                img(src="img/nissan-logo.png")
                            a(href="#") Nissan              

        .sentence
            h3.main-title Что мы можем предложить вам?
            .sentence-inner
                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

                ul.sentence-list
                    li
                        a(href="#") Механический замок зажигания
                    li
                        a(href="#") Электронный замок зажигания

    .advantages
        .container
            .advantages__inner
                
                .advantages__item
                    .advantages-slider.owl-carousel
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                        .item
                            .advantages-slider__tooltip
                                |Не дожидайтесь пока замок зажигания заклинит окончательно. Ремонт с выездом на место лучшее решение проблем с зажиганием!
                            .advantages-slider__img
                                img(src="img/key-img.png")
                                    
                .advantages__item
                    blockquote.main-title Мы отремонтировали уже более 
                        b 3000 замков 
                    .advantages-about
                        .advantages-about__item
                            .advantages-about__img
                            span Бесплатная диагностика 
                                br 
                                |по 40 параметрам
                        .advantages-about__item
                            i.advantages-about__img
                            span Современное оборудование
                                br 
                                |и лучшие мастера
                        .advantages-about__item
                            i.advantages-about__img
                            span Производим ремонт 
                                br
                                |на месте от 30 минут
                    .advantages__btn    
                        button.btn-yellow Заказать ремонт замка зажигания Mitsubishi Pajero    
    
    .container
        .price-block
            h2.main-title Стоимость услуг по ремонту замка зажигания
            table.price-table
                thead
                    tr
                        td 
                            |Наименование выполняемых работ
                        td
                            |Цена на ремонт с выездом
                        td  
                            |Стоимость запчастей
                tbody
                    tr
                        td 
                            a(href="#") 1. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
                    tr
                        td 
                            a(href="#") 2. Замена замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.        
                    tr
                        td 
                            a(href="#") 2. Переборка и смазка замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
                            
                    tr
                        td 
                            a(href="#") 4. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.     
                    tr
                        td 
                            a(href="#") 4. Ремонт контактной группы замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
                    tr
                        td 
                            a(href="#") 4. Замена личинки замка зажигания
                            .hidden-lg
                                span Стоимость от 2500 руб.
                                |Время выполнения 40 минут
                        td  
                            span от 2500 руб.
                        td   
                            |от 1500 руб.
    
    .photo-block
        h2.main-title Фотографии наших работ на выезде
        .photo-slider.owl-carousel
            .item
                img(src="img/slide-img-1.jpg")
            .item
                img(src="img/slide-img-2.jpg")        
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
    
    .map-block#map
        .arrival-calc
            .arrival-calc__title 
                span Расчет времени прибытия автомастера        
            .arrival-calc__street Авиамоторная, 12
            label
                input(type="text" placeholder="Жмите иконку для расчета времени" disabled).time-inp
                button(type="button").arrival-btn#arrivalBtn   
    
    .request
        h2.main-title Онлайн заявка на ремонт замка зажигания
        form.request-inner(action="#")
            .request-info
                .select-custom
                    select
                        option Выберите тип неисправности
                        option Тест
                        option Тест
                        
                .request__item
                    input(type="text" placeholder="Имя").inp
                    input(type="text" placeholder="Телефон для связи").inp
                
                textarea(placeholder="Комментарий").textarea
                
                .request__btn               
                    button.btn(type="submit") Вызвать мастера
                    .request__checked
                        input(type="checkbox" checked)#request-checked
                        label(for="request-checked") Я согласен на обработку
                            br
                            |персональных данных
                                   
            .request-img
                img(src="img/form-img.png")
                
                        
        
        
