footer.footer
    .footer__item
        .footer-info

            .footer-info__item.footer-column
                .main-logo.main-logo_footer.hidden-xs
                    .main-logo__img
                        img(src="img/logo-footer.png")
                    .main-logo__text
                        |Большой<br> театр

                .footer-contact
                    a(href="tel:74954113073").footer-call +7 (495) 411-30-73
                    .footer-adress Москва, Богатырская, 12

                a(href="#").btn.btn_footer Заказать билет           

            .footer-info__item
                form.search.footer-search.hidden-xs
                    input(type="text" placeholder="Балет Щелкунчик")
                    button(type="submit") 
                        span Найти

                .main-menu.main-menu_footer
                    ul
                        li
                            a(href="#").afisha Афиша большого театра                        
                        li
                            a(href="#").opera Опера 
                        li
                            a(href="#").balet Балет 
                        li
                            a(href="#").hall Схема зала
                    ul
                        li
                            a(href="#").travel Схема проезда
                        li
                            a(href="#").company О компании
                        li
                            a(href="#").contacts Контакты          

            .footer-info__item.footer-column
                .info-title.info-title_top Информация для зрителей

                .footer-link
                    ul
                        li
                            a(href="#") О театре
                        li
                            a(href="#") Репертуар
                        li
                            a(href="#") Премьеры
                    ul
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") Основная сцена
                        li
                            a(href="#") Новая сцена

                .info-title.info-title_bottom Способ оплаты
                .payment
                    img(src="img/visa_mir.png")

        .footer-bottom
            .capcha
                img(src="img/capcha.jpg")
            .footer-bottom__inner        
                .footer-bottom__item
                    .copyright 2010-2019 Сайт не является официальным ресурсом Большого театра

                .footer-bottom__item    
                    .development
                        .development__article
                            span Создание и продвижение сайта        
                        .development__img
                            img(src="img/e-studio.png")        


include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="js/common.js")
