header
    .header-desktop
        .header-desktop__main
            .header-desktop__logo
                img(src="img/logo.png")

            ul.main-menu
                li
                    a(href="#").main-menu__price Цены на ремонт
                li
                    a(href="#").main-menu__photo Фото работ
                li
                    a(href="#").main-menu__contact Контакты

            .header-desktop__cont
                button(type="button").btn Заказать услугу
                a(href="tel:74951322575").header-desktop__call +7 (495) 132-25-75            

        ul.header-desktop__links
            li
                a(href="#") Замена личинки замка
            li
                a(href="#") Замена замка зажигания
            li
                a(href="#") Ремонт контактной группы
            li
                a(href="#") Механический замок
            li
                a(href="#") Электронный замок
            li
                a(href="#") Замена замка зажигания

    .header-mobile
        .header-mobile__cont
            span Москва
            a(href="tel:74951322575") +7 (495) 132-25-75   

        .header-mobile__menu
            .burger
                .burger__inner
                    span
                    span
                    span
                    span

            .logo-mob
                .logo-mob__img
                    img(src="img/logo-mob.png")
                .header-mobile__title Ремонт замков зажигания

    .header-mobile__hidden
        .link-list
            .link-list__title Услуги
            ul
                li
                    a(href="#").link-list__repair Ремонт замка зажигания
                li
                    a(href="#").link-list__replace Замена замка зажигания
                li
                    a(href="#").link-list__cylinder Замена личинки замка зажигания
                li
                    a(href="#").link-list__switcher Переборка замка зажигания
                li
                    a(href="#").link-list__group Ремонт контактной группы
                li
                    a(href="#").link-list__insert Замена вставки замка зажигания
                li
                    a(href="#").link-list__repair Ремонт замка зажигания
                li
                    a(href="#").link-list__replace Замена замка зажигания
                li
                    a(href="#").link-list__cylinder Замена личинки замка зажигания
                li
                    a(href="#").link-list__switcher Переборка замка зажигания
                li
                    a(href="#").link-list__group Ремонт контактной группы
                li
                    a(href="#").link-list__insert Замена вставки замка зажигания  

        .link-list
            .link-list__title Информация
            ul
                li
                    a(href="#").link-list__price Цены на ремонт
                li
                    a(href="#").link-list__photo Фото работ
                li
                    a(href="#").link-list__testemonials Отзывы
                li
                    a(href="#").link-list__contact Контакты                                          
                    
