header.header
    .header-mobile
        
        .header-mobile__top
            .header-mobile__logo
                img(src="img/logo-white.png")
                span Большой театр
            a(href="tel:74954320777").header-mobile__call +7 495 432-07-77
        
        .header-mobile__bottom
            .burger
                span
                span
                span
                span
                    
            form.search
                input(type="text" placeholder="Балет Щелкунчик")
                button(type="submit")
                    span Найти                
        
            button.date-btn(type="button")
    
    
    
    
    .header-desktop
        .header-desktop__top
            
            ul.info-menu
                li
                    a(href="#") О театре
                li
                    a(href="#") Репертуар
                li
                    a(href="#") Премьеры
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") Основная сцена
                li
                    a(href="#") Новая сцена
                li
                    a(href="tel:74954113073").call +7 (495) 411-30-73    
                
        .header-desktop__bottom
            .header-desktop__main.container
                
                .main-logo
                    .main-logo__img
                        img(src="img/logo.png")
                    .main-logo__text
                        |Большой<br> театр
                
                form.search
                    input(type="text" placeholder="Балет Щелкунчик")
                    button(type="submit")
                        span Найти
                                
                .cart-block
                    a(href="#").online-pay Онлайн оплата
                    a(href="#").cart
                        .cart__inner
                            .cart-img
                                img(src="img/cart.png")
                                .cart-count
                                    |4
                            span 1200 руб.
                
                a(href="tel:74954113073").call +7 (495) 411-30-73
            
            nav.main-menu.main-menu_header
                ul
                    li
                        a(href="#").afisha Афиша большого театра                        
                    li
                        a(href="#").opera Опера 
                    li
                        a(href="#").balet Балет 
                    li
                        a(href="#").hall Схема зала 
                    li
                        a(href="#").travel Схема проезда
                    li
                        a(href="#").company О компании
                    li
                        a(href="#").contacts Контакты              
                    
