.sidebar
    .poster
        .sidebar__title Афиша по месяцам
        
        ol.sidebar-list.sidebar-list_month
            li
                a(href="#") Январь (12)
            li
                a(href="#") Февраль (8)
            li
                a(href="#") Март (3)
            li
                a(href="#") Апрель (15)
            li
                a(href="#") Май (9)
            li
                a(href="#") Июнь (2)
            li
                a(href="#") Июль (14)
            li
                a(href="#") Август (7)
            li
                a(href="#") Сентябрь (4)
            li
                a(href="#") Октябрь (12)
            li
                a(href="#") Ноябрь (10)
            li
                a(href="#") Декабрь (8)
                    
    .calendar 
        <table class="calendar-table" id="calendar"  border="0" cellspacing="0" cellpadding="1">
            <thead>
                <tr><td><b>‹</b><td colspan="5"><td><b>›</b>
                <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс</td>
            </thead>
            <tbody></tbody>
        </table>
    
    
        
    .recommend
        .sidebar__title Рекомендуем   
                   
        ul.sidebar-list.sidebar-list_recomended
            li
                a(href="#") Лебединое озеро
            li
                a(href="#") Драгоценности
            li
                a(href="#") Иван Грозный
            li
                a(href="#") Путешествие в Реймс
            li
                a(href="#") Русалка
            li
                a(href="#") Дон Карлос
            li
                a(href="#") Онегин
            li
                a(href="#") Раймонда
            li
                a(href="#") Дон Кихот
            li
                a(href="#") Нуреев
            li
                a(href="#") Сильфида
            li
                a(href="#") Пиковая дама
                
        a(href="#").btn.btn_poster Вся афиша                

    .news
        .sidebar__title Новости
        
        ul.news-list
            li
                .news-date 05 сентября
                a(href="#") В ГАБТ пройдет гала-концерт в честь Елены Образцовой!   
            li
                .news-date 27 августа
                a(href="#") Балет ГАБТ завершил гастроли в Лондоне
            li
                .news-date 05 сентября
                a(href="#") В ГАБТ пройдет гала-концерт в честь Елены Образцовой!   
            li
                .news-date 27 августа
                a(href="#") Балет ГАБТ завершил гастроли в Лондоне    
            
