extends ../layout/layout.pug
block vars
	- var title = 'Афиша';
block header
	include ../includes/header.pug
block content
	include ../includes/content-afisha.pug
block footer
	include ../includes/footer.pug     
              
