@import "import/reset";
@import "import/fonts";
@import "import/vars";
@import "import/mixin";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
}

body.hidden {
    overflow-y: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @media(min-width: 992px) {
        padding: 0 24px;
    }
}

.main-title {
    font-size: 24px;
    color: #B53759;
    font-weight: 500;
    margin-bottom: 15px;
    @media(min-width: 992px) {
        font-size: 32px;
    }
}

.content {
    p {
        font-size: 18px;
        color: #555A66;
    }
    @media(min-width: 992px) {
        width: calc(100% - 346px);
    }
}

.main-cont {
    @media(min-width: 992px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.btn {
    height: 52px;
    line-height: 52px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: $black;
    background: $yellow;
    display: inline-block;
    align-items: center;
}

.info-menu {
    a {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $link-text;
    }
}

.main-logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    &__text {
        font-family: "Gilroy-Black";
        font-size: 24px;
        line-height: 30px;
        color: $link-text;
        text-transform: uppercase;
        margin-left: 5px;
    }
}

.header-mobile {
    @media(min-width: 992px) {
        display: none;
    }
}

.header-desktop {
    @media(max-width: 991px) {
        display: none;
    }
}

.header-desktop__main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .call {
        @media(max-width: 1919px) {
            display: none;
        }
    }

    .search {
        @media(min-width: 1280px) {
            max-width: 500px;
            width: 100%;
        }
        @media(min-width: 1600px) {
            max-width: 700px;
            width: 100%;
        }
    }
}

.cart-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    .online-pay {
        margin-right: 13px;
        @media(min-width: 1280px) {
            margin-right: 63px;
        }
    }
}

.search {
    position: relative;

    input {
        width: 100%;
        height: 52px;
        font-weight: 400;
        border: 3px solid $yellow;
        font-size: 18px;
        color: $grey;
        padding-left: 54px;
        padding-right: 110px;
    }

    button {
        position: absolute;
        width: 100px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $yellow;
        color: $black;
        text-transform: uppercase;
        border: none;
        height: 100%;
        cursor: pointer;

        span {
            display: block;
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: -21px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-left: 15px solid $yellow;
                border-bottom: 25px solid transparent;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url("../img/magnifying-glass.png") no-repeat center;
    }
}

.online-pay {
    display: inline-block;
    border-radius: 4px;
    background: $green;
    text-align: center;
    font-size: 14px;
    padding: 19px 8px 16px;
    text-transform: uppercase;
    color: white;
    @media(min-width: 1280px) {
        font-size: 18px;
        padding: 16px 38px;
    }
}

.cart {
    background: $bg;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;

    &__inner {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
    }

    span {
        color: $black;
    }
}

.cart-img {
    position: relative;
    margin-right: 22px;

    .cart-count {
        position: absolute;
        right: -12px;
        top: -1px;
        width: 24px;
        height: 24px;
        text-align: center;
        color: $black;
        display: inline-block;
        border-radius: 10em;
        background: $yellow;
        padding-top: 2px;
    }
}

.call {
    font-family: "Gilroy-Bold";
    font-size: 32px;
    display: inline-block;
    padding-left: 33px;
    color: $link-text;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background: url("../img/call.png") no-repeat center;
    }
}

.main-menu {
    background: $link-text;

    a {
        color: white;
        font-size: 14px;
        border-bottom: 1px dotted white;
        display: inline-block;
        margin-left: 36px;
        position: relative;
        @media(min-width: 1280px) {
            font-size: 18px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            left: -35px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .afisha {
        &:after {
            background: url("../img/masks.png") no-repeat center;
        }
    }

    .opera {
        &:after {
            background: url("../img/harp.png") no-repeat center;
        }
    }

    .balet {
        &:after {
            background: url("../img/ballerina.png") no-repeat center;
        }
    }

    .hall {
        &:after {
            background: url("../img/chair.png") no-repeat center;
        }
    }

    .travel {
        &:after {
            background: url("../img/placeholder.png") no-repeat center;
        }
    }

    .company {
        &:after {
            background: url("../img/stage.png") no-repeat center;
        }
    }

    .contacts {
        &:after {
            background: url("../img/column.png") no-repeat center;
        }
    }
}

.main-menu_header {
    padding: 15px 0;

    ul {
        max-width: 1724px;
        margin: 0 auto;
        padding: 0 15px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
    }
}

.info-menu {
    max-width: 1230px;
    padding: 0 15px;
    margin: 10px auto 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .call {
        @media(min-width: 1920px) {
            display: none;
        }
    }
}

.header-mobile__top {
    background: $link-text;
    padding: 8px 13px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mobile__logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    span {
        font-family: "Gilroy-Bold";
        text-transform: uppercase;
        color: white;
        display: inline-block;
        margin-left: 8px;
        font-size: 12px;
        @media(min-width: 375px) {
            font-size: 18px;
        }
    }
}

.header-mobile__call {
    font-family: "Gilroy-Bold";
    display: inline-block;
    margin-left: 22px;
    color: white;
    font-size: 16px;
    @media(min-width: 375px) {
        font-size: 18px;
    }
}

.header-mobile__bottom {
    background: white;
    padding: 10px 13px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
        width: 200px;
        @media(min-width: 375px) {
            width: 240px;
        }
        @media(min-width: 768px) {
            width: 600px;
        }

        input {
            height: 40px;
            padding-right: 10px;
            font-size: 15px;
            @media(min-width: 768px) {
                height: 52px;
                padding-right: 110px;
            }
        }

        button {
            display: none;
            @media(min-width: 768px) {
                display: inline-block;
            }
        }
    }
}

.date-btn {
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("../img/event.png") no-repeat center;
}

.burger {
    width: 25px;
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 2px;
        background: $link-text;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.footer {
    background: $link-text;
    padding: 30px 0 37px;

    &__item {
        max-width: 1272px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

.main-logo_footer {
    .main-logo__text {
        color: $yellow;
    }
}

.footer-call {
    font-family: "Gilroy-Bold";
    color: white;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-adress {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.btn_footer {
    padding: 0 21px;
    margin-bottom: 25px;
}

.main-menu_footer {
    @media(min-width: 450px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
    }
    @media(min-width: 992px) {
        justify-content: flex-start;
    }

    ul {
        @media(min-width: 450px) {
            &:first-child {
                margin-right: 55px;
            }
        }

        li {
            margin-bottom: 25px;
        }
    }

    a {
        color: $grey-link;
        font-weight: 300;

        &:hover {
            color: $yellow;
            border-bottom: 1px dotted $yellow;
        }
    }
}

.info-title {
    color: $yellow;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.info-title_top {
    margin-bottom: 22px;
}

.footer-info {
    @media(min-width: 768px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    @media(min-width: 992px) {
        justify-content: space-between;

        &__item {
            &:last-child {
                padding-top: 40px;
            }
        }
    }
}

.footer-link {
    margin-bottom: 36px;
    @media(min-width: 375px) {
        padding-left: 15px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }

    ul {
        @media(min-width: 375px) {
            &:first-child {
                margin-right: 64px;
            }
        }

        li {
            margin-bottom: 15px;

            a {
                font-weight: 300;
                color: $grey-link;
                border-bottom: 1px dotted $grey-link;

                &:hover {
                    color: $yellow;
                    border-bottom: 1px dotted $yellow;
                }
            }
        }
    }
}

.info-title_bottom {
    margin-bottom: 22px;
}

.payment {
    padding-left: 30px;
}

.info-title_top {
    margin-bottom: 17px;
}

.capcha {
    margin-top: 30px;
    margin-bottom: 24px;
    text-align: center;
    @media(min-width: 768px) {
        text-align: left;
    }
}

.footer-search {
    margin-bottom: 25px;
    @media(min-width: 1280px) {
        width: 584px;
    }
}

.copyright,
.development__article {
    color: #ED7175;
    font-size: 16px;
}

.copyright {
    @media(max-width: 767px) {
        margin-top: 25px;
        text-align: center;
    }
}

.development__article {
    span {
        border-bottom: 1px dotted #ED7175;
    }
}

.hidden-xs {
    @media(max-width: 991px) {
        display: none;
    }
}

.development {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    .development__article {
        @media(max-width: 767px) {
            order: 1;
        }
        @media(min-width: 768px) {
            margin-right: 16px;
        }
    }

    .development__img {
        @media(max-width: 767px) {
            order: 0;
            margin-right: 16px;
        }
    }
}

.footer-column {
    @media(max-width: 991px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-bottom {
    &__inner {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @media(min-width: 768px) {
            margin-top: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        &:first-child {
            @media(max-width: 767px) {
                order: 1;
            }
        }

        &:last-child {
            @media(max-width: 767px) {
                order: 0;
            }
        }
    }
}

.sidebar {
    width: 346px;
    padding: 12px 24px 12px 0;
    @media(max-width: 991px) {
        display: none;
    }

    &__title {
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding: 13px 0;
        background: $link-text;
        border-radius: 10px 10px 0 0;
    }
}

.sidebar-list {
    li {
        padding: 9px 0;
        border-bottom: 1px solid #E5E5E5;
        position: relative;

        &:hover {
            background: $blue;

            &:after {
                color: white;
            }

            a {
                color: white;
            }
        }

        a {
            color: $link-text;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.sidebar-list_month {
    list-style-type: none;
    counter-reset: num;

    li {
        padding-left: 40px;

        &:after {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            content: '' counter(num);
            counter-increment: num;
            font-weight: 600;
            color: $blue;
        }
    }
}

.calendar {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 24px;
}

.calendar-table {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

.calendar-table thead {
    background: #B53759;
    border-radius: 10px 10px 0 0;
    color: white;

    tr {
        &:first-child {
            td {
                padding: 10px 0;

                &:nth-child(2) {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        &:last-child {
            td {
                font-size: 16px;
                padding: 5px 0 10px;
            }
        }
    }
}

.calendar-table thead tr:last-child {
    font-size: small;
}

.calendar-table thead tr:nth-child(1) td:nth-child(2) {
    color: white;
}

.calendar-table thead tr:nth-child(1) td:nth-child(1):hover,
.calendar-table thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

.calendar-table tbody td {
    font-size: 18px;
    color: #555A66;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #E5E5E5;
}

.calendar-table .holiday,
.calendar-table tbody td:nth-child(n+6) {
    color: rgb(231, 140, 92);
}

.calendar-table tbody td.today {
    background: #2BA5F7;
    box-shadow: 2px 5px 10px rgba(8, 35, 48, 0.25);
    color: #fff;
    border: 1px solid transparent;
}

.sidebar-list_recomended {
    margin-bottom: 16px;

    li {
        &:hover {
            a {
                text-decoration: none;
            }
        }
    }

    a {
        display: block;
        padding-left: 12px;
    }
}

.btn_poster {
    width: 100%;
}

.news {
    margin-top: 16px;

    &-list {
        li {
            padding: 5px 0;
            border-bottom: 1px solid #E5E5E5;

            a {
                display: inline-block;
                color: #B53759;
                border-bottom: 1px dotted #B53759;
                margin-left: 13px;
            }
        }
    }
}

.news-date {
    margin-left: 13px;
    color: #9299A2;
    padding-top: 5px;
    margin-bottom: 10px;
}

.poster-slider {
    position: relative;

    .swiper-pagination {
        bottom: -37px;

        .swiper-pagination-bullet-active {
            background: #B53759;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        background: #FFDB4D;
        box-shadow: 0 16px 24px rgba(8, 35, 48, 0.16);
        border-radius: 10em;
        top: 108%;
        @media(min-width: 992px) {
            width: 66px;
            height: 66px;
            top: 50%;
        }

        &:after {
            content: '';
            width: 24px;
            height: 24px;
        }
    }

    .swiper-button-next {
        &:after {
            background: url("../img/arrow_forward.png") no-repeat center;
        }
    }

    .swiper-button-prev {
        @media(min-width: 992px) {
            display: none;
        }

        &:after {
            background: url("../img/arrow_forward-b.png") no-repeat center;
        }
    }

    .swiper-slide {
        @media(min-width: 768px) {
            width: 610px !important;
        }
    }

    &__slide {
        .item {
            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }
    }

    .item {
        overflow: hidden;
        @media(min-width: 375px) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }

        &__left {
            width: 204px;
            margin: 0 auto 20px;
            @media(min-width: 375px) {
                width: 129px;
                margin: 0 5px 0 0;
            }
            @media(min-width: 500px) {
                width: 204px;
            }

            .btn {
                width: 100%;
                font-size: 14px;
                @media(min-width: 992px) {
                    font-size: 18px;
                }
            }
        }

        &__age {
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 600;
            color: white;
            font-size: 36px;
            @media(max-width: 767px) {
                display: none;
            }
        }

        &__right {
            background: #F9EBC9;
            border-radius: 0 10px 10px 0;
            padding: 13px 15px 13px 13px;
            position: relative;
            @media(min-width: 500px) {
                padding: 13px 15px 13px 20px;
                width: calc(100% - 204px);
            }

            &:after {
                content: '';
                position: absolute;
                top: -8px;
                right: 88px;
                height: 107%;
                width: 1px;
                border-right: 16px dotted white;
                @media(max-width: 767px) {
                    display: none;
                }
            }
        }

        &__list {
            max-width: 260px;
            width: 100%;
            font-size: 14px;
            color: #555A66;
            line-height: 19px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: column;
            @media(min-width: 500px) {
                font-size: 16px;
                line-height: 24px;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }

                &:last-child {
                    margin-top: auto;
                }
            }
        }

        &__price {
            font-weight: 500;
            font-size: 15px;
            color: $link-text;
            @media(min-width: 992px) {
                font-size: 18px;
            }
        }

        &__img {
            border-radius: 4px;
            overflow: hidden;
        }

        &__title {
            max-width: 260px;
            width: 100%;
        }
    }
}

.item__title {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
    @media(min-width: 992px) {
        font-size: 18px;
    }

    a {
        color: $link-text;
        border-bottom: 1px dotted $link-text;
    }
}

.poster-main {
    padding-bottom: 56px;
    margin-bottom: 15px;
    border-bottom: 2px solid #DADADA;
    overflow: hidden;
}

.theatre-about {
    p {
        margin-bottom: 25px;
    }
}

.performance-item {
    width: 290px;
    height: 424px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.4s;
    margin: 5px;
    @media(min-width: 992px) {
        margin: 3px;
    }
    @media(min-width: 1280px) {
        margin: 2px;
    }
    @media(min-width: 1366px) {
        margin: 5px;
    }

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }

    .item__title {
        margin-bottom: 18px;
    }

    .btn {
        width: 100%;
        margin-top: auto;
    }
}

.performance__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: 992px) {
        justify-content: flex-start;
    }
}

.premiera {
    background: #FDFA9B;
    border-radius: 4px;
    padding: 5px 6px;
    margin-bottom: 14px;
}

.performance-item__adress {
    font-weight: 500;
    font-size: 16px;
    color: #555A66;
}

.performance-item__place {
    font-size: 16px;
    margin: 12px 0 18px;
    color: #555A66;
}

.performance__img {
    img {
        display: block;
    }
}

.performance-item__info {
    height: 230px;
    background: #F9EBC9;
    padding: 10px 10px 17px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

.performance-item__age {
    position: absolute;
    right: 12px;
    top: 12px;
    font-family: "Gilroy-Bold";
    width: 44px;
    height: 44px;
    background: rgba(243, 119, 120, 0.8);
    border: 2px solid rgba(255, 91, 93, 0.85);
    border-radius: 10em;
    color: white;
    font-size: 22px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.performance__more {
    display: block;
    text-align: center;
    padding: 25px 0;
    border-bottom: 2px solid #DADADA;
    margin-bottom: 20px;
}

.article-list {
    list-style: initial;
    color: #555A66;

    li {
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}

.theatre-video {
    .article-list {
        padding-left: 15px;
        margin-top: 25px;
    }
}

.theatre-video {
    margin-bottom: 50px;
    @media(min-width: 992px) {
        margin-bottom: 108px;
    }
    @media(min-width: 1366px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:first-child {
            @media(min-width: 1366px) {
                width: 40%;
                margin-right: 24px;
            }
        }

        &:last-child {
            @media(min-width: 1366px) {
                width: 70%;
            }
        }
    }
}
